/* Selected values */
.QvSelected {
    background-color: #dde3eb;
    color: #000000;
}

/* Associated values */
.QvOptional {
    background-color: white;
    color: black;
}

/* Excluded values */
.QvExcluded {
    background-color: #EEEEEE;
    color: #666666;
}

/* Selection rectangle when selecting in chart */
.QvDragRect {
    background-color: #0099ff;
    cursor: pointer;
    opacity: 0.5;
    padding: 0;
}

/* Selected LED */
.QvSelected_Led_363636 {
  background-image: url("/QvAjaxZfc/QvsViewClient.aspx?datamode=binary&name=LED&slot=&public=only&state=1&color=%233455DB") !important;
  color: #696969 !important;
}
 
/* Selected LED checkbox */
.QvSelected_LED_CHECK_363636 {
    background-image: url("/QvAjaxZfc/QvsViewClient.aspx?datamode=binary&name=LED&slot=&public=only&state=1&check=true&color=%233455DB") !important;
	color: #696969 !important;
}


/* Selected corner tag */
.QvSelected_CORNERTAG_17_363636 {
    background-image: url("/QvAjaxZfc/QvsViewClient.aspx?datamode=binary&name=CORNERTAG&host=Local&slot=&public=only&color=%230099ff&width=17&height=17");
    background-repeat: no-repeat;
    color: #363636;
}

/*Arrow for filters dropdown list-item*/
.QvArrowDropDown {
	background-image: url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/penskefleet/icon-arrow-sort-down.png");
	margin-top: 5px;
}

/*Arrow for search box dropdown list-item*/
.QvArrowDropDownSearch {
	background-image: url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/penskefleet/icon-arrow-sort-down.png");
	border: none;
	margin-top: 15px;
	background-color: #FFFFFF;
}

/*Download table icon instead native Export to Excel icon*/
.QvDownloadTableIcon {
	background-image: url("/QvAjaxZfc/QvsViewClient.aspx?public=only&type=document&name=Extensions/penskefleet/download-btn.png");
	margin-top: 3px;
}