/*
.brandingDemo{background:url("/snow.jpg") no-repeat top left;}
*/
.centerAlign .master{position:relative;margin:0 auto;}
/*#MainContainer{width:960px;background:white;padding-top:28px; position:relative;display:inline-block;}
#PageContainer{display:inline-block;padding-top:0px;}*/